################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cis-580-project1/v16/Browse.VC.db
/.vs/cis-580-project1/v16/Browse.VC.opendb
/project1/.vs/MonoGameWindowsStarter/v16/Server/sqlite3/db.lock
